// Use this file to import all your sass
@import "../bower_components/foundation/scss/foundation";
@import "normalize";
@import "vars";
@import "mixins";
@import "grid";
@import "type";

// General styling should be done in _styles.scss
@import "styles";